body{
    background-color: black;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13%;
    width: 52.8%;
    margin: 0 auto;
    background-color: #00bcd4;
    color: antiquewhite;
    font-size: 50px;
    font-family: 'Arial';
    border: 8px solid aliceblue;


}
   
   

.Form{
    position: relative;
    display: flex;
    justify-content: center;
    top: 65px;
    border: 8px solid aliceblue;
    border-radius: 6%;
    padding: 10px;
    width: 50%;
    margin: 0 auto;
}

.custom-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    position: absolute;
    top: 300px;
    right: 70px;
}

.red-button {
    background-color: red !important;
}

.texto-superior {
    position: relative;
    text-align: right;
    margin-top: -320px; /* Ajuste conforme necessário */
    margin-right: 25px; /* Ajuste conforme necessário */
}

.imagem {
    position: relative;
    text-align: right;
    margin-top: -270px; /* Ajuste conforme necessário */
    margin-right: 10px; /* Ajuste conforme necessário */
    
}
.texto-superior p {
    font-size: 18px; /* Ajuste conforme necessário */
    color: #e81717; /* Cor do texto */
}